{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // "max-len": ["error", { "code": 80 }],
    // "indent": ["error", 2, { "SwitchCase": 1 }],
    // "linebreak-style": ["error", "unix"],
    // "quotes": ["error", "single"],
    // "semi": ["error", "always"],
    // "eol-last": "error",
    // "camelcase": "error",
    // "prefer-const": "error",
    // "prefer-destructuring": "error",
    // "no-else-return": "error",
    // "no-nested-ternary": "error",
    // "no-duplicate-imports": "error",
    // "no-extra-boolean-cast": "error",
    // "no-unneeded-ternary": "error",
    // "no-use-before-define": "error",
    // "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    // "no-var": "error",
    // "no-self-compare": "error",
    // "no-unreachable-loop": "error",
    // "dot-notation": "error",
    // "object-curly-spacing": ["error", "always"],
    // "comma-spacing": "error",
    // "arrow-parens": ["error", "always"]
  }
}
